.book_add_child a,
.book_add_child a:link,
.book_add_child a:visited,
.book_printer a,
.book_printer a:link,
.book_printer a:visited,
.comment_add a,
.comment_add a:link,
.comment_add a:visited,
.print_html a,
.print_html a:link,
.print_html a:visited,
.button, .block-admin-configure .form-submit,
input[type="submit"],
#views-ajax-pad .form-buttons .form-submit,
.teaser-button, .content-overview-links a,
.content-overview-links a:link,
.content-overview-links a:visited,
.container-inline a,
.container-inline a:link,
.container-inline a:visited {
  padding: 0.2em 0.5em;
}

#block-views-collectionthumbs-block_1 h2.title,
#block-views-collectionthumbs-block_2 h2.title {
  padding-top: 0.475em;
}

#block-views-collectionthumbs-block_1 table td.col-1,
#block-views-collectionthumbs-block_1 table td.col-2 {
  width: 50%;
}
#block-views-collectionthumbs-block_1 table td.col-2 {
  padding-left: 20px;
}

#user-login-form .item-list {
  padding-left: 0;
}
#user-login-form .item-list ul {
  padding: 0;
}
#user-login-form .item-list ul li {
  list-style: none;
}

.front #content #content-top-wrapper .section {
  border-bottom: 0;
  margin-bottom: 1.5em;
}
