// Base

// Vertical Rhythm
$base-line-height:             20px;
$base-font-size:               14px;
$relative-font-sizing:         true; // output px instead of em's. cuz em's are annoying.
$base-em-ratio:                1em / $base-font-size;

// Font size constants
$font-size-xxs:                10px;
$font-size-xs:                 11px;
$font-size-sm:                 12px;
$font-size-normal:             $base-font-size;
$font-size-md:                 14px;
$font-size-lg:                 16px;
$font-size-xl:                 18px;
$font-size-xxl:                24px;
$font-size-xxxl:               30px;

// Vertical Rhythm borders
$typographic-indent:           1.625em;

// Font Stacks
$header-font-family:           "DroidSansRegular", Arial, sans-serif !default;
$text-font-family:             "DroidSansRegular", Arial, sans-serif !default;
$button-font-family:           "DroidSansRegular", Arial, sans-serif !default;
$input-font-family:            Arial, "Liberation Sans", FreeSans, sans-serif;
$mono-font-family:             Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;

// Main Link Colors
$link-color:                   #8b1f04;
$link-color-hover:             adjust-color($link-color, $lightness: 12, $saturation: 25);
$link-color-visited:           $link-color;
$link-color-active:            adjust-color($link-color-hover, $lightness: -15);

// Alternative Link Colors
$link-color-alt:               #fff;
$link-color-hover-alt:         adjust-color($link-color-alt, $lightness: -10);
$link-color-visited-alt:       $link-color-alt;
$link-color-active-alt:        adjust-color($link-color-hover-alt, $lightness: -15);

// Text Colors
$text-color:                   #222;
$text-color-light:             adjust-color($text-color, $lightness: 54);
$text-border:                  #ddd;
$text-border-alt:              adjust-lightness($text-border, -14);
$text-border-alt-2:            adjust-lightness($text-border, -27);
$text-marked:                  #ff0;
$text-inserted:                adjust-color($text-marked, $lightness: 30);

// Import Compass mixins
@import "compass/css3";
@import "compass/support"; // Add Compass' IE and vendor prefix support variables.
@import "compass/typography";
@import "compass/utilities";

// Import base utilities which create no code unless used.
@import 'base/utilities';
